body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montsserrat', sans-serif;
}

.material-icons-outlined{
    vertical-align: middle;
    line-height:1px;
    font-size: 35px;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

/* --------- HEADER --------- */
.header{
    /* background-color: royalblue; */
    grid-area: header;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 9 30px;
    box-shadow: 0 6px 7px -3px rgba(0,0,0,0.25);
}

.menu-icon {
    display: none;
}

/* --------- SIDEBAR --------- */
#sidebar{
    background-color: #263043;
    grid-area: sidebar;
    height:100%;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;;
}

.sidebar-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255,255,255, 0.2);
    cursor: pointer;
} 

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* --------- MAIN --------- */
.main-container{
    /* background-color: beige; */
    color:rgba(255,255,255,0.95);
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}